.container {
  width: 196px;
  background-color: var(--primary-color);
  :global {
    .react-calendar {
      text-decoration: none;
      background-color: var(--primary-color);
    }
    .react-calendar__month-view__weekdays abbr {
      text-align: center;
      font-weight: bold;
      font-size: 0.85em;
      color: var(--text-secondary);
      text-decoration: none !important;
    }

    .react-calendar__tile--now {
      background-color: transparent;
      &:enabled:focus {
        background-color: transparent;
      }
    }
    
    .react-calendar__tile--active {
      background-color: transparent !important;
      &:enabled:focus {
        background-color: transparent !important; 
      }
    }

    .react-calendar__month-view__days__day--neighboringMonth {
      color: transparent !important; // This will make the text of neighboring month days invisible
    }
    .react-calendar__tile {
      padding: 0.25rem 0.5rem;
      font-size: 0.85em;
      font-family: inherit;
      border: 1px solid #ddd;
      color: var(--text-secondary);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

.monthName {
  text-align: center;
  color: var(--text-secondary);
  padding: 10px 0;
}

.tileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.modal {
  background-color: var(--primary-color);
  min-width: 1000px;
}

.text, .title {
  color: var(--text-secondary);
  margin-bottom: 10px;
}