@use "/src/styles/mixins.scss" as *;

.container {
  max-width: 500px;
  margin: 100px auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advertisement {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.advertisementName {
  margin-bottom: 20px;
  color: var(--text-white);
}

.submitButton {
    @include submit-button;
}

.title {
  color: var(--text-white);
  margin-bottom: 20px;
}