@use "../../../styles/mixins.scss" as *;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modWrapper {
  display: flex;
  flex-direction: column;
}

.purchaseAction {
  @include overview-link;
  padding: 0.25rem;
}

.paymentAction {
  color: var(--primary-blue);
  padding: 0.25rem;
  font-weight: 700
}

.deleteAction {
  @include delete-link;
  padding: 0.25rem;
}

.editAction {
  @include edit-link;
  padding: 0.25rem;
}