.button {
    background-color: var(--primary-yellow);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.7rem;
    color: var(--text-secondary);
    cursor: pointer;
    &:hover {
        background-color: var(--primary-yellow-dark);
    }
}