.modal {
  background-color: var(--primary-color);
}

.title {
  color: var(--text-secondary);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.text {
  color: var(--text-color);
  font-size: 0.8rem;
}

.actionWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}