@use "../../../styles/mixins.scss" as *;

.label {
  @include label;
}

.input {
  @include input;
}

.error {
  color: red;
}

.required {
  color: var(--primary-red-dark)
}
.inputWrapper {
  flex: 1;
}

.readOnly {
  color: dimgrey;
  opacity: 0.3 ;
  color: var(--color-text);
  cursor: not-allowed;
}


.subLabel {
  color: var(--primary-blue);
  font-size: 0.6rem;
}
