@use "../../../../styles/mixins.scss" as *;

.form {
  @include form;
  max-width: 1000px;
}

.heading {
  @include form-heading;
  padding: 20px;
  margin: 20px auto;
}

.groupHeader {
  color: var(--text-secondary);
}

.label {
  color: var(--text-color)
}

.instructions {
  @include form-instructions;
}

.submitButton {
  @include submit-button;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.noAddressBooks {
  color: var(--primary-red);
  font-size: 0.8rem;
}
