@use "../../../styles/mixins.scss" as *;

.deleteAction {
    @include delete-link;
    padding: 0.25rem;
  }
  
  .editAction {
    @include edit-link;
    padding: 0.25rem;
  }

  .paymentAction, .invoicesButton {
    color: var(--primary-blue);
    padding: 0.25rem;
    font-weight: 700;
    cursor: pointer;
  }

  .stripeSubscription {
    color: var(--stripe-color);
    padding: 0.25rem;
    font-weight: 700;
    cursor: pointer;
  }

  .modWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  .headCell {
    color: var(--text-secondary);
    font-weight: 700;
  }