@use "../../../styles/mixins.scss" as *;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modWrapper {
  display: flex;
  gap: 20px;
}

.deleteAction {
  @include delete-link;
  padding: 0.25rem;
}

.editAction {
  @include edit-link;
  padding: 0.25rem;
}