.homeContainer {
  gap: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleLoginButton {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: var(--primary-blue);
  text-decoration: underline;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.toggleLogin {
  display: flex;
  align-items: center;
}

.heading {
  color: var(--text-color);
  font-size: 1.5rem;
}

.toggleLoginText {
  color: var(--text-color);
  font-size: 1.2rem;
}

.componentWrapper {
  width: 500px;
}