@use "/src/styles/mixins" as *;

.container {
  width: 100%;
  padding: 30px;
  height: 100%;
}
.monthGrid {
  @include grid3;
  width: 100%;
  text-align: center;
  justify-items: center;
  margin-top: 20px;
}


.selectWrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noCalendars {
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
