@use "/src/styles/mixins" as *;

.container {
  width: 100%;
  padding: 30px;
  height: 100%;
}
.monthGrid {
  @include grid3;
  width: 100%;
  text-align: center;
  justify-items: center;
  margin-top: 20px;
}


.filterWrapper {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
  
}

.adLabel {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
}

.selectWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkboxWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitButton {
  @include submit-button;
}

.noCalendars {
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.printButton {
  background-color: var(--primary-yellow);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.7rem;
  color: var(--text-secondary);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-yellow-dark);
  }
}

.printWrapper {
  display: flex;
  gap: 40px;
}