.modal {
  background-color: var(--primary-color);
}

.title {
  color: var(--text-white);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.purchase {
  color: var(--text-color);
  font-size: 0.8rem;
}

.adName {
  color: var(--primary-blue-dark);
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.noPurchases {
  color: var(--primary-yellow);
  font-size: 0.9rem;
}