.container {
  width: 196px;
  background-color: var(--primary-color);
  :global {
    .react-calendar {
      text-decoration: none;
      background-color: var(--primary-color);
    }
    .react-calendar__month-view__weekdays abbr {
      text-align: center;
      font-weight: bold;
      font-size: 0.85em;
      color: var(--text-secondary);
      text-decoration: none !important;
    }

    .react-calendar__tile--now {
      background-color: transparent;
      &:enabled:focus {
        background-color: transparent;
      }
      &:hover {
        background-color: var(--primary-green-dark);
      }
    }

    .react-calendar__tile--active:enabled:focus.selectedDay {
      /* This targets tiles that are both active, selected, and focused */
      background-color: var(--primary-green) !important;
    }

    .react-calendar__tile--active {
      &:enabled:focus {
        background-color: transparent; /* This will only be applied when the tile is active but not selected */
      }
    }

    .react-calendar__month-view__days__day--neighboringMonth {
      color: transparent !important; // This will make the text of neighboring month days invisible
    }
    .react-calendar__tile {
      padding: 0.25rem 0.5rem;
      font-size: 0.85em;
      font-family: inherit;
      border: 1px solid #ddd;
      color: var(--text-secondary);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &:hover {
        background-color: var(--primary-green-dark);
      }
    }
  }

  .selectedDay {
    background-color: var(--primary-green) !important;
    border: 1px solid #ddd;
  }
}

.monthName {
  text-align: center;
  color: var(--text-secondary);
  padding: 10px 0;
}

.tileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
