.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.telecomInfo,
.addressInfo,
.contactInfo,
.other {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupHeader {
  color: var(--primary-blue);
}

.label {
  color: var(--text-color);
  font-size: 0.9rem;
}

.info {
  color: var(--text-secondary);
  font-size: 0.9rem;
}