.wrapper {
    padding:  100px;
    width: 100%;
}

.heading {
    color: var(--text-secondary);
    font-size: 1.5rem;
}

.edit{
    background-color: var(--primary-yellow);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    color: var(--text-secondary);
    cursor: pointer;
    &:hover {
        background-color: var(--primary-yellow-dark);
        transform: scale(1.1);
    }
}

.contactHeader {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.contactTabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: 1px solid var(--text-secondary);
}

.tab {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    font-weight: bold;
    color: var(--text-secondary);
    border-radius: 8px;
    &.active {
        background-color: var(--primary-blue-dark);
        border: 1px solid var(--text-secondary);
        transform: scale(1.1);
    }
    &:hover {
        cursor: pointer;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stripeLink {
    background-color: var(--stripe-color);
    font-weight: bold;
    color: var(--text-secondary);
    padding: 10px 10px;
    border-radius: 10px;
}